<h1>Python Projects</h1>
<div class="project">
  <div class="project_gif">
    <img src="/assets/goldfarm.gif" alt="#">
  </div>
  <div class="project_data">
    <h4>Gold Farm</h4>
    <p>Gold Farm is to simulate use of a game.</p>
    <h4>Technologies:</h4>

    <img class="description_icon" src="/assets/python.png">
    <img class="description_icon" src="/assets/html.png">
    <img class="description_icon" src="/assets/css.png">
    <img class="description_icon" src="/assets/mysql.png">
    <img class="description_icon" src="/assets/django.png">
    <img class="description_icon" src="/assets/js2.png">

  </div>
</div>

<div class="project">
  <div id="unavailable">
    <h2>Coming Soon!</h2>
  </div>
</div>