<h1>Ruby Projects</h1>
<div class="project">
  <div class="project_gif">
    <img src="/assets/membership.gif" alt="#">
  </div>
  <div class="project_data">
    <h4>Membership</h4>
    <p>Membership simulates a membership service that you would see typically anywhere.</p>
    <h4>Technologies:</h4>

    <img class="description_icon" src="/assets/js2.png">
    <img class="description_icon" src="/assets/html.png">
    <img class="description_icon" src="/assets/css.png">
    <img class="description_icon" src="/assets/ruby.jpg">
    <img class="description_icon" src="/assets/rubyor.png">
    <img class="description_icon" src="/assets/sqlite.png">

  </div>
</div>


<div class="project">
  <div class="project_gif">
    <img src="/assets/playlist.gif" alt="#">
  </div>
  <div class="project_data">
    <h4>Playlist</h4>
    <p>Playlist is straight forward with what this is. A list of details of songs.</p>
    <h4>Technologies:</h4>

    <img class="description_icon" src="/assets/js2.png">
    <img class="description_icon" src="/assets/html.png">
    <img class="description_icon" src="/assets/css.png">
    <img class="description_icon" src="/assets/ruby.jpg">
    <img class="description_icon" src="/assets/rubyor.png">
    <img class="description_icon" src="/assets/sqlite.png">

  </div>
</div>

<div class="project">
  <div class="project_gif">
    <img src="/assets/wishlist.gif" alt="#">
  </div>
  <div class="project_data">
    <h4>Wishlist</h4>
    <p>Wishlist utilized in most online retails.</p>
    <h4>Technologies:</h4>

    <img class="description_icon" src="/assets/js2.png">
    <img class="description_icon" src="/assets/html.png">
    <img class="description_icon" src="/assets/css.png">
    <img class="description_icon" src="/assets/ruby.jpg">
    <img class="description_icon" src="/assets/rubyor.png">
    <img class="description_icon" src="/assets/sqlite.png">

  </div>
</div>

<div class="project">
  <div id="unavailable">
    <h2>Coming Soon!</h2>
  </div>
</div>