*, body{
    text-align: center;
}
.project {
    height: 300px;
    width: 500px;
    border: 1px solid black;
    margin: 15px;
    padding: auto;
    text-align:center;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;

}

.project:hover .description_icon{
    height: 100px;
    /* background:linear-gradient( red, whitesmoke); */
}
.project:hover{
    background: linear-gradient(grey, whitesmoke);
    opacity: 0.3;
}

img {
    width:100%;
}
/* 
img:hover{
    opacity: 0.3;
} */

