<h1>JavaScript Projects</h1>


<div class="project">
  <div class="project_gif">
    <img src="/assets/ledger2.gif" alt="#" *ngIf="!one.isHovering">
  </div>
  <div class="project_data">
    <h4>Ledger</h4>
    <p>Ledger is built to simulate the use of an actual ledger, keeping record of purchases made, and sold.</p>
    <h4>Technologies:</h4>

    <img class="description_icon" src="/assets/js2.png">
    <img class="description_icon" src="/assets/html.png">
    <img class="description_icon" src="/assets/css.png">
    <img class="description_icon" src="/assets/nodeJs.png">
    <img class="description_icon" src="/assets/angular.png">
    <img class="description_icon" src="/assets/mongodb.png">
    
  </div>
</div>

<div class="project">
  <div class="project_gif">
    <img src="/assets/1942.gif" alt="#" >
  </div>
  <div class="project_data">
    <h4>1942</h4>
    <p>1942 is a classic arcade game, which this is built with basics of only three technologies.</p>
    <h4>Technologies:</h4>

    <img class="description_icon" src="/assets/js2.png">
    <img class="description_icon" src="/assets/html.png">
    <img class="description_icon" src="/assets/css.png">
   
  </div>
</div>

<div class="project">
  <div id="unavailable">
    <h2>Coming Soon!</h2>
  </div>
</div>

